:root {
    --color-background:#9C489C;
    --color-background-nav:#F4F4F4;
    --color-background-home:#777777;
    --color-text-light:#EDEDED;
    --color-text-title:#9C489C;
    --color-text-dark:#3D3D3D;
  }

  *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: sans-serif;

  }

  html, body{
      background-color: var(--color-background);
  }

  a{
      text-decoration: none;
      transition: 0.2s opacity;
  }

  a:hover{
      opacity: 0.5;
  }
  .container{
      width: 90%;
  }
  main{
      width: 100%;
      height: calc(100vh - 120px);
      display: flex;
  }